<launch>
  <!-- This file is specific for mayo base. The base is read via environment
  variable. The eval expression is perhaps superfluous (this could have been hard
  coded) but it should make sense to keep it, so that this can be adapted to other bases faster. -->
    <arg name="base" value="$(env ROS_GUMMI_LEFTBASE)" />
    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_biceps.yaml')" command="load"/>
    <node name="left_biceps_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_biceps_controller"
          output="screen"/>


    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_triceps.yaml')" command="load"/>
    <node name="left_triceps_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_triceps_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_elbow_encoder.yaml')" command="load"/>
    <node name="left_elbow_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_ae
                left_elbow_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_upperarm_roll.yaml')" command="load"/>
    <node name="left_upperarm_roll_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_upperarm_roll_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_abductor.yaml')" command="load"/>
    <node name="left_shoulder_abductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
          	left_shoulder_abductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_adductor.yaml')" command="load"/>
    <node name="left_shoulder_adductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_shoulder_adductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_horizontal_abductor.yaml')" command="load"/>
    <node name="left_horizontal_abductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_horizontal_abductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_horizontal_adductor.yaml')" command="load"/>
    <node name="left_horizontal_adductor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_horizontal_adductor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_pitch_encoder.yaml')" command="load"/>
    <node name="left_shoulder_pitch_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_ae
                left_shoulder_pitch_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_flexor.yaml')" command="load"/>
    <node name="left_shoulder_flexor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_shoulder_flexor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_extensor.yaml')" command="load"/>
    <node name="left_shoulder_extensor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_d
                left_shoulder_extensor_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_roll_encoder.yaml')" command="load"/>
    <node name="left_shoulder_roll_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                left_shoulder_roll_encoder_controller"
          output="screen"/>

    <rosparam file="$(eval find('gummi_leftbase_' + base) + '/dynamixel/left_shoulder_yaw_encoder.yaml')" command="load"/>
    <node name="left_shoulder_yaw_encoder_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port gummi_se
                left_shoulder_yaw_encoder_controller"
          output="screen"/>

</launch>
