<launch>
  <!-- This file is specific for mayo base. The eval expression is superfluous and
  it only makes sense to keep it, so that this can be adapted to other bases faster. -->
  <arg name="base" value="$(env ROS_GUMMI_LEFTBASE)" />
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/gummi.yaml')" command="load"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/left_shoulder_roll.yaml')" command="load" ns="left_shoulder_roll"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/calibration_left_shoulder_roll.yaml')" command="load" ns="left_shoulder_roll/calib"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/left_shoulder_pitch.yaml')" command="load" ns="left_shoulder_pitch"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/calibration_left_shoulder_pitch.yaml')" command="load" ns="left_shoulder_pitch/calib"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/left_shoulder_yaw.yaml')" command="load" ns="left_shoulder_yaw"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/calibration_left_shoulder_yaw.yaml')" command="load" ns="left_shoulder_yaw/calib"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/left_elbow.yaml')" command="load" ns="left_elbow"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/calibration_left_elbow.yaml')" command="load" ns="left_elbow/calib"/>
  <rosparam file="$(eval find('gummi_leftbase_' + base) + '/config/left_upperarm_roll.yaml')" command="load" ns="left_upperarm_roll"/>
</launch>
